@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: azure;
}

header {
    background-color: darkgray;
}

header > h1 {
    padding: 8px;
    text-align: center;
}

menu {
    display: block;
}

menu > ul {
    list-style: none;
}

menu > ul > li > a {
    display: block;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: aliceblue;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: rgb(54, 53, 53);
    color: rgb(223, 4, 4);
}

main {
    width: 90vw;
    background-color: aliceblue;
    margin: auto;
    margin-top: 8px;
    padding: 8px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 15px;
    text-indent: 20px;

}